<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.order.mapper.OrderDetailMapper">


    <sql id="Base_Column_List">
        id,order_id,sku_id,
        sku_name,img_url,order_price,
        sku_num,create_time,split_total_amount,
        split_activity_amount,split_coupon_amount,user_id
    </sql>
</mapper>
